.List {
  list-style-type: none;
  background-image: linear-gradient(0deg, #ffffff, #c3ceff, #ffffff);
}

.ListItem {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: larger;
}

.ListItem:focus,
.ListItem:hover {
  color: #ff0000;
}
